/sdtimes_june_2022/hasura/.env

/hasuracon_june_2022/README.org.bak
/hasuracon_june_2022/README.html
/databases_august_2022/README.html
/databases_august_2022/scratch.sql

hasuratraining_march_2023/README.docx
*.docx
*.hs
*.html
*.md
*.odt
*.pptx
*.pdf
*.tex
hasuratraining_september_2022/scratch.el
hasuratraining_march_2023/scratch.el
hasuratraining_march_2023/scratch.sql
*.el
scratch.*
hasuratraining_september_2022/README.html
