/sdtimes_june_2022/hasura/.env

/hasuracon_june_2022/README.org.bak
/hasuracon_june_2022/README.html
/databases_august_2022/README.html
/databases_august_2022/scratch.sql

hasuratraining_march_2023/README.docx
*.docx
*.hs
*.html
*.md
*.pptx
*.tex
hasuratraining_september_2022/scratch.el
hasuratraining_march_2023/scratch.el
hasuratraining_march_2023/scratch.sql
*.el
scratch.*
hasuratraining_september_2022/README.html
hasuratraining_march_2023/README.org
*.env
.env
hasurawebinar_january_2024/node_modules/
router
hasurawebinar_january_2024/.idea/
hasurawebinar_january_2024/.mesh/
hasurawebinar_january_2024/graphql_mesh/.mesh/sources/catalog/introspectionSchema.ts
hasurawebinar_january_2024/graphql_mesh/.mesh/sources/fulfillment/introspectionSchema.ts
hasurawebinar_march_2024/.mvn/wrapper/
hasurawebinar_march_2024/setenv.sh
hasurawebinar_march_2024/scratch2.sql


hasuracon_june_2022/README.html
*.html
hasurameetup_july_2024/README.tex
*.tex
scratch.*
.env
setenv.sh
.mvn
.gitignore
./
sfjug_july_2024/SLIDES
sfjug_july_2024/target/
